.intro-section {
  max-width: 100vw;
  background: var(--gradiente-cinza);
  padding-top: 0px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr auto;
  align-items: center;
}

.intro-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-size: min(4.5rem, 4.5vw); /* 4.5vw ou 72px divided per 16px = 4.5rem */
  line-height: 4.5rem;
  padding-left: 100px;
  padding-top: 180px;
  color: var(--c1, #f5f5f5);
  grid-column: 1 / 3;
  grid-row: 1;
}

.intro-txt {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: min(2rem, 2vw); /* 32px divided per 16px = 2rem */
  line-height: 2.5rem;
  padding-left: 110px;
  color: var(--c2, #f0f0f0);
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.image-hero {
  background-image: url("../img/image-hero-grande.jpg");
  height: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin: 0;
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}

.quote {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: max(1.25rem, 1.25vw); /* 20px divided per 16px = 1.25rem */
  line-height: 2rem;
  letter-spacing: 1.5;
  text-align: right;
  color: var(--c2, #f0f0f0);
  grid-column: 2 / 3;
  grid-row: 3;
  place-self: end;
}

.quote cite {
  font-style: italic;
  line-height: 3rem;
}

/* Media Queries*/
@media (max-width: 1024px) {
  .intro-section {
    max-width: 1024px;
  }
  .container {
    grid-template-columns: 1fr;
    align-content: center;
  }
  .intro-title {
    font-size: min(4rem, 4vw); /* 60px divided per 16px = 3.75rem */
    line-height: 4rem;
    padding-left: 90px;
    padding-top: 160px;
  }
  .intro-txt {
    font-size: max(1.5rem, 1.5vw); /* 24px divided per 16px = 1.5rem */
    line-height: 2.1rem;
    padding-left: 100px;
  }
  .image-hero {
    max-width: 100%;
    margin: 0;
    background-position: center;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
  }
  .quote {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: max(1.25rem, 1.25vw); /* 20px divided per 16px = 1.25rem */
    line-height: 1.5rem;
  }
}

@media (max-width: 900px) {
  .intro-section {
    max-width: 900px;
  }
  .intro-title {
    font-size: min(3.75rem, 3.75vw); /* 60px divided per 16px = 3.75rem */
    line-height: 3.75rem;
    padding-left: 80px;
    padding-top: 150px;
  }
  .intro-txt {
    font-size: max(1.25rem, 1.25vw); /* 20px divided per 16px = 1.25rem */
    line-height: 2rem;
    padding-left: 80px;
  }
  .image-hero {
    width: 100%;
    max-width: 60vw;
    background-position: center;
    margin: 0;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
  }
  .quote {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: max(1.25rem, 1.25vw); /* 20px divided per 16px = 1.25rem */
    line-height: 1.5rem;
  }
}

@media (max-width: 800px) {
  .intro-section {
    max-width: 800px;
  }
  .container {
    grid-template-columns: 1fr;
    align-content: space-around;
    padding-top: 100px;
  }
  .intro-title {
    font-size: min(3.75rem, 3.75vw); /* 60px divided per 16px = 3.75rem */
    line-height: 3rem;
    padding-left: 70px;
    padding-top: 150px;
  }
  .intro-txt {
    font-size: max(1.25rem, 1.125vw); /* 18px divided per 16px = 1.125rem */
    line-height: 2rem;
    padding-left: 70px;
  }
  .image-hero {
    background-image: url("../img/image-hero.jpg");
    width: 50vw;
    height: 90%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 100px;
    grid-column: 2;
    grid-row: 1 / -1;
  }
}

@media (max-width: 700px) {
  .intro-section {
    max-width: 700px;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    align-content: center;
    padding-top: 100px;
  }
  .intro-title {
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding-left: 60px;
    padding-top: 140px;
  }
  .intro-txt {
    font-size: max(1.125rem, 1.125vw); /* 18px divided per 16px = 1.125rem */
    line-height: 2rem;
    padding-left: 60px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .quote {
    font-style: italic;
    line-height: 1.5rem;
    font-size: 1.125rem;
  }
  .image-hero {
    width: 50vw;
    height: 80%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 146px;
    grid-column: 2;
    grid-row: 1 / -1;
  }
}

@media (max-width: 600px) {
  .intro-section {
    max-width: 600px;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    align-content: center;
    padding-top: 100px;
  }
  .intro-title {
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding-left: 60px;
    padding-top: 130px;
  }
  .intro-txt {
    font-size: max(1.125rem, 1.125vw); /* 18px divided per 16px = 1.125rem */
    line-height: 2rem;
    padding-left: 60px;
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .quote {
    font-style: italic;
    line-height: 1.5rem;
    font-size: 1.125rem;
  }
  .image-hero {
    width: 50vw;
    height: 81%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 146px;
    grid-column: 2;
    grid-row: 1 / -1;
  }
}

@media (max-width: 500px) {
  .intro-section {
    max-width: 500px;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    align-content: center;
    padding-top: 100px;
  }
  .intro-title {
    font-size: 1.4rem;
    line-height: 2rem;
    padding-left: 50px;
    padding-top: 120px;
  }
  .intro-txt {
    font-size: max(1.125rem, 1.125vw); /* 18px divided per 16px = 1.125rem */
    line-height: 1.5rem;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .quote {
    font-style: italic;
    line-height: 1.2rem;
    font-size: 1rem;
    text-align: center;
  }
  .image-hero {
    width: 50vw;
    height: 80%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 130px;
    grid-column: 2;
    grid-row: 1 / -1;
  }
}

@media (max-width: 450px) {
  .intro-section {
    max-width: 450px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .intro-title {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-left: 30px;
    grid-column: 1;
    grid-row: 1;
  }
  .intro-txt {
    font-size: 0.9rem;
    line-height: 1.1rem;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    grid-column: 1;
  }
  .image-hero {
    width: 50vw;
    height: 80%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 130px;
    grid-column: 2;
    grid-row: 1 / -1;
  }
  .quote {
    font-size: 0.9rem; /* 24px divided per 16px = 1.5rem*/
    line-height: 1rem;
    text-align: center;
    grid-column: 1;
    grid-row: 3;
    place-self: center;
  }
}

@media (max-width: 350px) {
  .intro-section {
    max-width: 350px;
  }
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .intro-title {
    font-size: 1.75rem;
    line-height: 2.5rem;
    padding-left: 0px;
    padding-top: 180px;
    align-self: flex-start;
  }
  .intro-txt {
    font-size: 0.9rem;
    line-height: 1.1rem;
    padding-left: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    align-self: flex-start;
  }
  .image-hero {
    display: none;
  }
  .quote {
    font-size: 0.6rem; /* 24px divided per 16px = 1.5rem*/
    line-height: 1rem;
    text-align: center;
    grid-column: 1;
    grid-row: 3;
    place-self: center;
  }
}
